<form method="POST" action="./login">
    NAME:<input type="text" name="name" value={{name}}>
    {{error.name}}<br>
    EMAIL:<input type="text" name="email" value={{email}}>
    {{error.email}} <br>
    password:<input type="password" name="password">
    {{error.password}}<br>
    <button type="submit">submit</button>
</form>
<br>
<hr>
<a href="/signin"><h1>AlredyLogin</h1></a>